.search {
    --border-search: 1.5px;

    width: 360px;
    height: var(--search-height);
    background-color: rgba(22, 24, 35, 0.06);

    padding-left: 16px;
    border-radius: var(--search-border-radius);
    // border: 1.5px solid transparent;
    border: var(--border-search) solid transparent;

    position: relative;
    display: flex;

    input {
        height: 100%;
        color: var(--black);
        font-size: 1.6rem;
        line-height: 22px;

        caret-color: var(--primary);
        font-weight: 400;
        flex: 1;
        background-color: transparent;

        font-family: var(--font-family);
        padding-right: calc(var(--search-height) - 2 * var(--border-search));
    }

    &::after {
        position: absolute;
        content: "";
        top: var(--search-top-spacer);
        right: var(--search-button-width);

        width: 1px;
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        background-color: rgba(22, 24, 35, 0.12);
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    .search-btn {
        width: var(--search-button-width);
        border-top-right-radius: var(--search-border-radius);
        border-bottom-right-radius: var(--search-border-radius);

        height: 100%;
        font-size: 1.8rem;
        color: rgba(22, 24, 35, 0.34);

        &:hover {
            cursor: pointer;
            background-color: rgba(22, 24, 35, 0.03);
        }

        &:active {
            background-color: rgba(22, 24, 35, 0.06);
        }
    }

    .clear,
    .loading {
        right: calc(var(--search-button-width) + 16px);
        color: rgba(22, 24, 35, 0.34);

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .loading {
        animation: spinner 0.8s linear infinite;
    }

    @keyframes spinner {
        from {
            transform: translateY(-50%) rotate(0);
        }
        to {
            transform: translateY(-50%) rotate(360deg);
        }
    }
}

.search-result {
    width: 360px;

    .search-title {
        color: var(--text-color);
        font-size: 1.4rem;
        padding: 8px 16px;
    }
}
