// Menu wrapper
.menu-list {
    width: 224px;

    .menu-popper {
        padding-bottom: 8px;

        // menu item
        .menu-item {
            margin-left: 0;
            justify-content: flex-start;
            width: 100%;
            border-radius: 0;

            line-height: 2rem;
            padding: 10px 16px;
            font-weight: 600;

            &:hover {
                background-color: rgba(22, 24, 35, 0.05);
            }

            &.separate {
                border-top: 1px solid rgba(22, 24, 35, 0.12);
            }
        }
    }
}

// header
.header {
    position: relative;
    height: 50px;
    margin-top: -8px;
    font-weight: 400;
    .back-btn {
        width: 50px;
        height: 100%;
        font-size: 1.6rem;

        background-color: transparent;
        cursor: pointer;
    }
    .header-title {
        position: absolute;
        top: 50%;
        left: 50%;

        font-size: 1.6rem;
        transform: translate(-50%, -50%);
    }
}
